@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-height: 100%;
  font-family: Poppins, sans-serif;
}

body {
  font-feature-settings: "kern" on;
}

html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

.dark .scrollbar-thin::-webkit-scrollbar-thumb {
  background: #334155;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 999px;
}
